# Logs
*.log

# Compiled / output files
*.out

# ROOT files
*.root
*.root.*

# Temporary files
*~
*.tmp

build/
simulation/run_script/
graphify/
.claude
CLAUDE.md
graphify-out/
install/
gaudi_jobs/*/*.txt
gaudi_jobs/muon_10k_pipeline/
gaudi_jobs/*/plots/
gaudi_jobs/*/*.root
*.cxx
*log*txt
*.h